@media only screen and (max-width: 1300px) {
  .side-video {
    width: 100vw;
    height: 100px;
    position: static;
    display: block;
    margin-top: 52px;
  }

  .second-video {
    width: 100vw;
    height: 100px;
    position: static;
    display: block;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-color {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #displayCar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .card {
    flex: 0 0 auto;
    width: 18rem;
  }

  .mydiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .second-div {
    top: -300px;
    width: 70%;
  }
  
  .not-display{
    display: none;
  }
}

@media only screen and (min-width: 1001px) {
  .select-car {
    display: block;
  }

  .select-car-button {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .select-car {
    display: none;
  }

  .select-car-button {
    display: none;
  }

}
