

@media only screen and (max-width: 768px) {
  .nav-color {
    height: 20vh;
  }

  .cover-page {
    height: 90vh !important;
  }

  .row {
    flex-direction: column-reverse;
  }

  .cover-text {
    justify-content: center !important;
    align-items: center;
  }

  .search-box {
    margin-top: 50px !important;
    height: 40vh !important;
    width: 100% !important;
  }

  .search-box p {
    margin: 5px;
  }

  .search-box button {
    margin: 5px;
  }

  .para{
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}
